{% block body %}

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">

            {#Start User Side Panel#}

            {{ render(controller('AppBundle:Component:showUserSidePanel')) }}

            {#End User Side Panel#}



        </div>



    </div>


{% endblock %}