{% extends 'base.html.twig' %}


{% block body %}

    {#<div class="post_view">#}

    {#<div class="tab">#}

        {#<button id="new_post_tab" class="tablinks" onclick="openPost(event, 'new_post')">New Post</button>#}
        {#<button id="new_record_tab" class="tablinks" onclick="openPost(event, 'new_record')">New Record</button>#}
        {##}

    {#</div>#}


         {#Start new Post view#}
    {#<div id="new_post" class="tabcontent">#}
        {#<textarea id="new_post_text_input" rows="4" cols="50" placeholder="Write Something..."></textarea>#}

        {#<footer>#}

            {#<button id="new_post_submit_button" class="btn btn-primary btn-border pull-right">Post</button>#}

        {#</footer>#}
    {#</div>#}
        {#End new Post view#}

    {#<div id="new_record" class="tabcontent">#}

    {#</div>#}





    {#</div>#}


    <div class="row">
        <div class="col-sm-10 col-offset-1">

            {{ render(controller('AppBundle:Default:showUserSidePanel')) }}




        </div>




    </div>




{% endblock %}

