.user-details{
    position: relative;
    padding: 0;
}

.user-details .user-image{
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.user-image img {
    clear: both;
    margin: auto;
    position: relative;
}